# API kljuc 
config.json

# Generisani XML izlaz
filmovi.xml

# Python cache fajlovi
__pycache__/
*.pyc
*.pyo

# Virtuelna okruzenja
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Sistemski fajlovi
.DS_Store
Thumbs.db

# Testovi
*.log

# Screenshot slike
*.png
*.jpg
*.jpeg
screenshots/

# IDE fajlovi (PyCharm, VS Code itd.)
.vscode/
.idea/
